@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");

.container {
  display: flex;
  justify-content: center;
  height: 75vh;
  flex-direction: column;
  position: relative;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 5;
  position: relative;
}

.background {
  font-size: 5rem;
  font-family: "Montserrat";
  line-height: 1.1;
  color: var(--bg-text);
  position: absolute;
  z-index: 1;
}

.foreground {
  z-index: 2;
  display: flex;
  color: var(--accent-color);
  justify-content: space-between;
  align-items: center;
}

.name {
  color: #eee;
  font-size: 3.5rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.bio {
  width: max-content;
  color: #eee;
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 3rem;
  position: relative;
  text-align: center;
}

.bio::before,
.bio::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.bio::before {
  background: var(--main-bg);
  animation: typewriter 2.5s steps(24) 500ms forwards;
}

.bio::after {
  overflow: hidden;
  margin-left: 0.4rem;
  width: 0.125em;
  background: var(--accent-color);
  animation: typewriter 2.5s steps(24) 500ms forwards,
    blink 750ms steps(24) infinite;
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}

.button {
  background: var(--accent-color);
  font-size: 1.25rem;
  padding: 0.5rem 1rem;
  color: #eee;
  font-weight: 600;
  border: none;
  cursor: pointer;
  border: 2px solid var(--accent-color);
}

.outlined {
  font-size: 1.25rem;
  padding: 0.5rem 1rem;
  color: #eee;
  border: 2px solid var(--accent-color);
  background: transparent;
  cursor: pointer;
}

.button:hover,
.outlined:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.illustration {
  height: 500px;
  width: 450px;
  position: absolute;
  top: 10%;
  right: 0;
}

.pic {
  height: 300px;
  width: 300px;
  border-radius: 50%;
}

.btncont {
  display: flex;
  gap: 1rem;
}

/* 4K Screens */
@media screen and (min-width: 2000px) {
  .background {
    font-size: 8.5rem;
  }
  .content {
    padding: 0 3rem;
  }
  .name {
    font-size: 6rem;
  }
  .bio {
    font-size: 3rem;
    margin-bottom: 5rem;
  }
  .button {
    font-size: 2rem;
  }
  .outlined {
    font-size: 2rem;
  }
  .illustration {
    height: 900px;
    width: 700px;
  }
}

/* iPad Pro */
@media screen and (max-width: 1100px) {
  .background {
    font-size: 4.5rem;
  }
  /* .container {
    display: block;
  } */
  .foreground {
    margin: 4rem 0;
    /* display: block; */
    text-align: center;
  }
  .name {
    font-size: 4rem;
  }
  .bio {
    font-size: 1.75rem;
    margin: 0.75rem auto 3rem;
  }
  .illustration {
    position: absolute;
    top: 50px;
    right: 0;
    height: 550px;
    width: 420px;
  }
}

/* iPad */
@media screen and (max-width: 950px) {
  .background {
    margin-top: 200px;
    font-size: 3.5rem;
  }
  .foreground {
    margin: 2rem 0;
    position: relative;
  }
  .name {
    font-size: 3rem;
    margin-bottom: 0.5rem;
  }
  .bio {
    font-size: 1.5rem;
  }
  .illustration {
    height: 450px;
    width: 320px;
    top: 0;
  }
  .container {
    display: block;
  }
}

@media screen and (max-width: 750px) {
  .foreground {
    margin: 0;
    display: block;
  }
  .background {
    margin-top: 350px;
    font-size: 2.5rem;
  }
}

/* Phone */
@media screen and (max-width: 500px) {
  .background {
    margin-top: 450px;
    font-size: 2rem;
    left: 15vw;
  }
  .illustration {
    bottom: 0;
    right: 0;
    width: 75vw;
    height: 50vh;
  }
}

@media screen and (max-width: 450px) {
  .container {
    display: block;
  }
  .background {
    margin-top: 450px;
    font-size: 1.5rem;
  }
  .name {
    font-size: 2rem;
  }
  .bio {
    font-size: 1.25rem;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 2rem;
  }
  .btncont {
    display: flex;
    flex-wrap: wrap;
  }
  .illustration {
    top: 0;
    right: 0;
    width: 80vw;
    height: 50vh;
  }
}

